@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffdede;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.App nav {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App nav a {
  color: #ff9797;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  font-size: 20px;
}

.cart {
  text-align: left;
  margin: 1rem 4rem;
}

.cart label {
  display: block;
  margin-bottom: 1rem;
}

.cart input {
  display: block;
  margin-top: 0.5rem;
}

.search-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.product-card {
  border: rgb(133, 133, 133) solid 2px;
  border-radius: 15px;
  margin: 0.5rem;
  background-color: #ffffff;
  width: 20rem;
  padding: 1rem 2rem;
}

.product-card img {
  /*  */

}

.product-card p {
  margin-top: 0.5rem;
}

.Cashew {
  background-color: rgb(209, 146, 130);
}

.Pea {
  background-color: rgb(228, 255, 216);
}

.Walnut {
  background-color: rgb(255, 188, 143);
}

.Rice {
  background-color: rgb(230, 255, 253);
}

.Coconut {
  background-color: rgb(233, 233, 233);
}

.Soy {
  background-color: rgb(255, 250, 203);
}

.Hemp {
  background-color: rgb(175, 250, 255);
}

.Almond {
  background-color: rgb(175, 250, 255);
}

.Cashew {
  background-color: rgb(255, 209, 244);
}

.Oat {
  background-color: rgb(255, 254, 186);
}

.Macadamia {
  background-color: rgb(228, 195, 195);
}
.Whole {
  background-color: #ffd3d3;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-item {
  color: #ff9797;
  font-size: 1.7rem;
}

.page-link {
  color: #ff9797;
  margin: 0 2rem;
}

.page-link:hover {
  text-shadow: -1px 0px 2px rgb(255, 156, 156);
  cursor: pointer;
}

